<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Place your oAuthKeys for integration tests-->
    <add key="oAuthKey" value="0zfESXD0C3QUipK7kDDsscvR5kyYka9PsAGtqCHt"/>
    <add key="oAuthSecret" value="EWL1GCAdbdDfQZoGNWdEhtNWaPQSIj4R4LwwFLPC"/>
  </appSettings>
</configuration>